html,
body {
    height: 100%;
}

#cabecera {
    background-color: #186118;
    color: white;
    height: 13%;
}

/* BOTON */

.custom-btn {
    height: 40px;
    color: white;
    padding: 10px 25px;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

#algorithm{
    width: 250px;
}

#procesar{
    width: 180px;
}

#algorithm,
#procesar {
    background: #00ee10;
    background: linear-gradient(150deg, #00ee10 0%, #186118 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

#algorithm span,
#procesar span {
    display: block;
    width: 100%;
    height: 100%;
}

#algorithm:before,
#algorithm:after,
#procesar:before,
#procesar:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #05970f;
    transition: all 0.3s ease;
}

#algorithm:before,
#procesar:before {
    height: 0%;
    width: 2px;
}

#algorithm:after,
#procesar:after {
    width: 0%;
    height: 2px;
}

#algorithm:hover,
#procesar:hover {
    background: transparent;
    box-shadow: none;
}

#algorithm:hover:before,
#procesar:hover:before {
    height: 100%;
}

#algorithm:hover:after,
#procesar:hover:after {
    width: 100%;
}

#algorithm span:hover,
#procesar span:hover {
    color: #05970f;
}

#algorithm span:before,
#algorithm span:after,
#procesar span:before,
#procesar span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #05970f;
    transition: all 0.3s ease;
}

#algorithm span:before,
#procesar span:before {
    width: 2px;
    height: 0%;
}

#algorithm span:after,
#procesar span:after {
    width: 0%;
    height: 2px;
}

#algorithm span:hover:before,
#procesar span:hover:before {
    height: 100%;
}

#algorithm span:hover:after,
#procesar span:hover:after {
    width: 100%;
}

/* TABLA */

#tabla {
    font-size: 14px;
    text-align: center;
}

thead {
    background-color: #05970f;
    color: white;
    font-size: 15px;
}

#tabla td:not(.jugar, .TExterior) {
    border-left: none;
    border-right: none;
}

.TExterior {
    border-right: none;
}

.jugar {
    font-weight: bold;
}

.si {
    padding: 1em;
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: #05970f;
    color: white;
}

.s {
    color: #05970f;
}

.no {
    padding: 1em;
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: white;
    background-color: #840f0f;
}

.n {
    color: #840f0f;
}

#arbol {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 23px;
}

.nodo {
    padding: 1em;
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: #186118;
    color: white;
}

.nodo .node-name {
    margin-bottom: 0;
}

#info>div>h1 {
    color: #186118;
    font-weight: bold;
}

#info>div>p {
    margin-left: 20px;
    font-size: 20px;
}

.elegido {
    background-color: #05970f;
    color: white;
    border-radius: 5px;
    padding: 0.5em;
}